* {
    margin: 0px;
    font-family: "Public Sans", sans-serif;
    box-sizing: border-box;
  }
  /* html, body {
    max-width: 100%;
    overflow-x: hidden;

} */
/* .footer-mobile-verion{
  display: none;
} */

.hamburger-btn{
  display: none;
}
.mobile-hamburger-btn{
  display: none;
}
header{
    display: flex;
    padding-top: 25px;
    height: 75px;
    width: 100%;
    background: white;
    justify-content: space-between;
    z-index: 2;
    padding-left: 4%;
    padding-right: 4%;
    /* position: relative; */
}
header img {
  padding-left: 45%;
}

.info {
  display: flex;
  justify-content: space-evenly;
  color: hsl(233, 8%, 62%);
  gap: 15%;
  cursor: pointer;
  font-size: 22px;
}

.info p:hover{
    border-bottom: 4px solid hsl(136, 63%, 66%);
}
.request-btn-1 {
    color: white ;
    margin-bottom: 15px;
    padding: 10px 25px;
    border-radius: 20px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(193, 41%, 51%));
    align-items: center;
    font-size: 12px ;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5%;
    border: none;

}
section{
  height: 530px;
}
.sec1{

  width: 100%;
  display:flex ;
}
.div2 {
  background-image: url(/images/image-mockups.png), url(/images/bg-intro-desktop.svg);
  background-size: 94% 96%, 130% 96%;
  background-position: 349% -297%, -1% -550%;
  min-height: 940px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  width: 120%;
}
.div1{
  width: 125%;
  padding-left: 4%;
}
section h1 {
  /* padding-left: 170px; */
  font-size: 65px;
  font-weight: lighter;
  padding-top: 20%;
  padding-left: 5%;
  width: 100%;
  /* text-align: center; */
}
section p {
    font-size: 1.3rem;
    color : hsl(231, 3%, 54%);
    padding-left: 5%;
    
}

.request-btn-2 {
    color: white ;
    width: 150px;
    padding:10px;
    border-radius: 20px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(193, 41%, 51%));
    /* align-items: center; */
    font-size: 16px ;
    font-weight: bold;
    text-align: center;
    cursor: pointer;


}
.btn-setting {
  display: flex;
  justify-content: center;
  width: 30%;
}
/* <<<<<<<<<<<<<<< why content >>>>>>>>>>>>>> */
.why-content {
    background-color: rgb(242, 242, 242); 
    padding-left: 6%;
    padding-right: 9%;
    padding-top: 4%;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    /* width: auto; */
    /* font-family: ; */

}

h2 {
    font-size: 2.5rem;
    font-weight: lighter;
}

aside > div {
    font-size: 1.192rem;
    color : hsl(231, 3%, 54%);
    display: flex;
    padding-top: 50px;
    column-gap: 5%;
    width: 100%
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */

}

.options-section {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;  
}

.options-section p {
    padding-top: 30px;
}

/* <<<<<<<<<<<<<<<< Artical section >>>>>>>>>>>>>>>>>*/

h3 {
    padding: 0px 0 0 6% ;
    padding-top: 75px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: lighter;
    /* background-color: rgb(242, 242, 242); */

}

.latest-articles-content{
    /* padding: 0px 175px; */
    background-color:  hsl(220deg 32% 97%);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */  
}
.latest-articles{
min-width: none;
display: flex ;
background-color: hsl(220deg 32% 97%);
padding-bottom: 5%;
gap: 3%;
padding-left: 6%;
flex-wrap: wrap;

}
.currancy,.restaurant,.plane,.confetti{
  background-color: white;
  min-height: 250px;
  margin-top: 2%;
  border-radius: 5px;
}

.latest-articles-content img {
    height: 220px; 
    width: 325;
    /* padding-bottom: 20px;     */
    border-radius: 5px;
    /* justify-content: space-between; */
    
}
.currancy,.restaurant,.plane,.confetti{
    margin-right: 20px;
}
main > div {
    font-size: 1.05rem;
    color : hsl(231, 3%, 54%);
    /* border: 0.05px solid whitesmoke; */
    min-width: none;
    min-height: 350px;
    background-color: white;

}
main p {
    padding-top : 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
}

.currancy  > p{
 font-size: 13px;
}
.currancy  p:nth-child(2n+1){
    font-size: 16px;
    color: black;
    font-weight: 400;
    cursor: pointer;
   }
.currancy  p:nth-child(2n+4){
    font-size:  15px;
    height:  100px;
    /* color: black; */
    font-weight: 400;
 }
 .restaurant  > p{

    font-size: 13px;
   }
.restaurant  p:nth-child(2n+1){
    font-size: 16px;
    color: black;
    font-weight: 400;
    cursor: pointer;
      }
  
.restaurant  p:nth-child(2n+4){
       font-size: 15px;
       /* color: black; */
       font-weight: 400;
 }

.plane  > p{

    font-size: 13px;
    }
.plane  p:nth-child(2n+1){
    font-size: 16px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    }
.plane  p:nth-child(2n+4){
    font-size:  15px;
    /* color: black; */
    font-weight: 400;
}
.confetti  > p {

    font-size: 13px;
    }
.confetti  p:nth-child(2n+1){
    font-size: 16px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    
    }
.confetti  p:nth-child(2n+4){
    font-size:  15px;
    /* color: black; */
    font-weight: 400;
    
}


.restaurant .hover-sentence:hover,
.plane .hover-sentence:hover,
.currancy .hover-sentence:hover,
.hover-sentence:hover,.confetti 
.hover-sentence:hover {
    color:  hsl(136, 65%, 51%);;

}

/* <<<<<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>>> */

footer {
  padding-left: 6%;
    display: flex;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(233, 26%, 24%);
    min-height: 200px;
    width: 100%;
    cursor: pointer;
  }
  
  .footer-logo {
    background-color: white;
    width: 200px;

  }
  
  footer .right-container p {
    color:white;
    
  }
  
  footer .right-container {
  
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  }
  
  footer .left-container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  }
  
  .footer-button {
    display:flex;
    justify-content: end;
    
  }
  button {
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(193, 41%, 51%));
    border-radius: 20px;
    border: none;
    padding: 10px 22px;
    font-weight: bold;
    font-size: 13px;
    font-weight: 400;
    color: white;
    font-family: "Public Sans", sans-serif;
    cursor: pointer;
    
}
  .social-media {
    display:flex;
    justify-content: space-between;
  }
  .middle-container {
    display:flex;
    justify-content: space-between;
    gap: 0px 285px;
  }
  .middle-left {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  
  }
  
  .middle-right {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }
  
  
  .middle-left a, .middle-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
  } 

.middle-container a:hover,.middle-left a:hover {
    color : hsl(136, 65%, 51%);
  }
.social-media img:hover {
    background: green;
    transform: scale(1.1);
    border-radius: 2px;
}
  
.mobile-image {
  display: none;
}

/* <<<<<<<<<<<<<<<  responsive  >>>>>>>>>>> */




@media screen and (max-width : 900px) {
 .div2{
  display: none;
 }
 .mobile-image {
  display: block;
  background-image: url(/images/image-mockups.png),url(images/bg-intro-mobile.svg);
  width: 390px;
  height: 400px;
  background-size: 98% 104% , 100% 125%;
  background-repeat: no-repeat,no-repeat;
}

 

 .sec1 {
  width: 300px;
  height: 775px;
  display: flex;
  flex-direction: column;
 }
 section h1 {
  /* padding-left: 170px; */
  font-size: 40px;
  font-weight: lighter;
  padding-top: 20%;
  width: 100%;
  text-align: center;
}

section p {
  font-size: 13px;
  color: hsl(231, 3%, 54%);
  text-align: center;
  width: 100%;
}
.btn-setting {
  padding-left: 25%;
  width: 73%;
}
.why-content {
  background-color: hsl(220, 27%, 98%); 
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 20%;
  min-height: 530px;
  display: flex;
  flex-direction: column;
  /* width: auto; */
  /* font-family: ; */

}
h2 {
  font-size: 45px;
  font-weight: lighter;
  padding: 0px 45px;
  /* margin-right: 16px; */
  text-align: center;
}
aside > div {
  font-size: 16px;
  text-align: center;
  color: hsl(231, 3%, 54%);
  display: flex;
  padding-top: 20px;
  column-gap: 5%;
  /* padding-right: 15px; */
  width: 100%;
   /* justify-content: space-between; */ 
   /* flex-wrap: wrap; */
}

.options-section {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.options-section p {
  padding-top: 20px;
  padding-bottom: 4% ;
}
h3 {
  padding: 0px 0 0 4%;
  padding-top: 44px;
  padding-bottom: 50px;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  padding-right: 20px;
  /* background-color: rgb(242, 242, 242); */
}
.latest-articles {
  min-width: none;
  display: flex;
  padding-bottom: 5%;
  gap: 20px;
  padding-left: 7%;
  flex-wrap: wrap;
}
.latest-articles-content img {
  height: 194px;
  width: 334px;
  padding-bottom: 5px;
  border-radius: 5px;
  /* gap: 3px; */
  /* justify-content: space-between; */
}
.currancy, .restaurant, .plane, .confetti {
  margin-right: 12%;
}
main p {
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 10px;
}
.currancy p:nth-child(2n+1) {
  font-size: 20px;
  color: black;
  /* text-align: right; */
  font-weight: 400;
  cursor: pointer;
}
.currancy p:nth-child(2n+4) {
  font-size: 16.5px;
  /* color: black; */
  text-align: center;
  /* font-weight: 400; */
  text-align: start;
  padding-bottom: 40px;
}

.restaurant > p {
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 10px;
}
.restaurant p:nth-child(2n+1) {
  font-size: 20px;
  color: black;
  /* text-align: right; */
  font-weight: 400;
  cursor: pointer;
}
.restaurant p:nth-child(2n+4) {
  font-size: 16.5px;
  /* color: black; */
  text-align: center;
  /* font-weight: 400; */
  text-align: start;
  padding-bottom: 40px;
}
.plane > p {
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 10px;
}
.plane p:nth-child(2n+1) {
  font-size: 20px;
  color: black;
  /* text-align: right; */
  font-weight: 400;
  cursor: pointer;
}
.plane p:nth-child(2n+4) {
  font-size: 16.5px;
  /* color: black; */
  text-align: center;
  /* font-weight: 400; */
  text-align: start;
  padding-bottom: 40px;
}
.confetti > p {
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 10px;
}
.confetti p:nth-child(2n+1) {
  font-size: 20px;
  color: black;
  /* text-align: right; */
  font-weight: 400;
  cursor: pointer;
}
.confetti p:nth-child(2n+4) {
  font-size: 16.5px;
  /* color: black; */
  text-align: center;
  /* font-weight: 400; */
  text-align: start;
  padding-bottom: 40px;
}
footer {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  height: 545px;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  padding-bottom: 55px;
}
.footer-logo {
  background-color: white;
  width: 200px;
  margin-top: 25%;
}
  .middle-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px 246px;
  text-align: center;
}
button {
  background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(193, 41%, 51%));
  border-radius: 20px;
  border: none;
  padding: 11px 42px;
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
  margin-right:12px;
  margin: 25px 0px 2px 0p
}

button.request {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
}
.info , .request-btn-1{
  display: none;
}
  .hamburger-btn {
  
    display: block;
    padding-right: 5%;
    /* border: 2px solid; */
    padding-bottom: 6px;
}
.mobile-hamburger-btn p{
  padding : 10px 118px 16px 128px;
  text-align: center;
  color: #685050;
  /* color: black; */
  font-size: 25px;
  /* text-shadow: 2px 2px 4px #000000; */
  
}
.mobile-hamburger-btn{
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 85%;
  right: 10%;
  height: 34%;
  top : 10%;
  box-shadow: 10px 10px 15px rgb(113, 109, 109);
  border-radius: 5px;

  
}
header {
  display: flex;
  padding-top: 25px;
  height: 60px;
  width: 100%;
  background: white;
  justify-content: space-between;
  z-index: 2;
  padding-left: 4%;
  padding-right: 4%;
  /* position: relative; */
}

}